<?xml version="1.0"?>
<config>
    <modules>
        <BC_Ajaxcart>
            <version>0.1.0</version>
        </BC_Ajaxcart>
    </modules>
    <global>
        <models>
            <bc_ajaxcart>
                <class>BC_Ajaxcart_Model</class>
                <resourceModel>bc_ajaxcart_resource</resourceModel>
            </bc_ajaxcart>
            <bc_ajaxcart_resource>
                <class>BC_Ajaxcart_Model_Resource</class>
            </bc_ajaxcart_resource>
        </models>
        <blocks>
            <bc_ajaxcart>
                <class>BC_Ajaxcart_Block</class>
            </bc_ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>BC_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>BC_Ajaxcart</module>
                    <frontName>ajaxcarts</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <bc_ajaxcart>
                    <file>bc_ajaxcart.xml</file>
                </bc_ajaxcart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcart translate="title">
                                            <title>BC Ajaxcart</title>
                                            <sort_order>100</sort_order>
                                        </ajaxcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ajaxcart>
            <all_settings>
                <catalog_list_show>1</catalog_list_show>
                <!--<catalog_view_show>1</catalog_view_show>-->
                <checkout_cart_redirect_timeout>10</checkout_cart_redirect_timeout>
                <choice_product_info>1</choice_product_info>
            </all_settings>
        </ajaxcart>
    </default>
</config>